{% extends "base_template.html" %}
{% load i18n %}
{% block js_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/messages.js"></script>
{% endblock %}
{% block bodyclass %}{% if user.get_profile.role == 30 %} class="userView"{% endif %}{% endblock %}
{% block title %}Messages{% endblock %}
{% block content %}
<div id="messagesWrapper">
  <div class="tabs">
	<ul>
	  <li class="inbox {% block inboxactive %}{% endblock %}">
	    <span class="left"></span>
	    <a href="/messages/inbox"><span>{% trans "Received" %}</span></a>
	    <span class="right"></span>
	  </li>
	  <li class="outbox {% block outboxactive %}{% endblock %}">
	    <span class="left"></span>
	    <a href="/messages/outbox"><span>{% trans "Sent" %}</span></a>
	    <span class="right"></span>
	  </li>
	  {% if request.user.get_profile.is_admin or request.user.get_profile.is_superadmin %}
	  <li class="ocl {% block oclboxactive %}{% endblock %}">
	    <span class="left"></span>
	    <a href="{% url "messages_ocl" %}"><span>{% trans "OCL" %}</span></a>
	    <span class="right"></span>
	  </li>
	  {% endif %}
	</ul>
  </div>
  <div class="messagesBox boxGray">
      <div>
          <span class="inputWrapper shadow-gray messageFilter">
            <select id="messageFilter" class="selectWrapper" path="{% block message_filter_path %}{% endblock %}" >
                <option value="-1">{% trans "-- select module name --" %}</option>
                {% for module in modules %}
                <option {% if selected_module_id == module.id %}selected{% endif %} value="{{ module.id }}" >{{ module.title }}</option>
                {% endfor %}
            </select>
          </span>
          {% block ocl_only_filter %}{% endblock %}
          {% block show_my_links %}{% endblock %}
      </div>
    <ul id="messages" class="messagesList boxWhite">
      {% if message_list %}
        {% for message in message_list %}
        <li id="{{ message.pk }}" class="{% cycle 'odd' 'even' %} 
        {% if message.new %}unread{% endif %} 
        {% if forloop.first %}first{% endif %} 
        {% block is_ocl %} {% endblock %}">
            {% block row_content %}{% endblock %}
              {% if message.new %}
<!--                 <span class="icoNew"></span> -->
              {% endif %}
          </li>
        {% endfor %}
      {% else %}
        <li><p>{% trans "No messages" %}</p></li>
      {% endif %}
    </ul>
    <div id="selectedMessage">
      <div class="messageView boxWhite"></div>
      <div class="buttons">&nbsp;</div>
    </div>
    {% block remove_messages %}
    {% if message_list %}
    <span id="removeMultipleMessageButtons" class="removeMultipleMessageButton">
        <a id="selectAllMessages" href="#" class="button-normal" type="button" >
            <img class="icon" src="/media/img/blank.gif" alt="">
            {% trans "Select/deselect all" %}
        <a/>
        <a id="removeMessages" href="{% url "messages_delete_multiple" %}" class="button-normal" type="button" >
            <img class="icon icoRemove" src="/media/img/blank.gif" alt="">
            {% trans "Remove messages" %}
        <a/>
    </span>
    {% endif %}
    {% endblock %}

  </div>
</div>
{% endblock %}
