{% load i18n %}
{% block messageView %}
<div class="messageView boxWhite">
  <div class="msgHeader">
    <p>{% trans "From" %}: <span>{{ message.sender.first_name }} {{ message.sender.last_name }}</span></p>
    <p>{% trans "To" %}: <span>{{ message.recipient.first_name }} {{ message.recipient.last_name }}</span></p>
  </div>
  <div class="msgContent">
    <h4 class="title">{{ message.subject}}</h4>
    <div class="text">{{ message.body|linebreaksbr}}</div>
  </div>
</div>
{% endblock %}
{% block ocl_expiration %}{% endblock %}
{% block buttons %}
<div class="buttons">
  {% ifequal message.recipient.pk user.pk %}
		{% ifnotequal message.sender.pk user.pk %}
			<a id="replyMessage" messageid="{{ message.id }}" senderid="{{ message.sender.pk }}" sendername="{{ message.sender.first_name }} {{ message.sender.last_name }}" href="#" class="button-normal">{% trans "Reply" %}</a>
		{% endifnotequal %}
  {% endifequal %}
  {% ifequal message.sender.pk user.pk %}
  <a id="resendMessage" href="{% url "messages_resend" message.id %}" class="button-normal">{% trans "Resend" %}</a>
  {% endifequal %}

  	<a id="removeMessage" href="{% url "messages_delete" message.id %}" class="button-normal">
  		<img alt="" src="{{ MEDIA_URL }}img/blank.gif" class="icon icoRemove"/>{% trans "Remove" %}</a>
</div>
{% endblock %}
