a {
    font-size: 10px;
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #000;
}
body {
    background: #fff;
    font-family: "MS Trebuchet", Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 100px;
}
#container {
    width: 900px;
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 50px auto 10px;
    padding: 30px;
}
#rollerWrapper {
  width: 490px;
}
#roller {
    background: #000;
    width: 402px;
    height: 478px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}

#roller .items {
    width: 20000em;
    position: absolute;
}
#roller .items ul {
    float: left;
    width: 402px;
    height: 462;
}

#roller .items li, .shelf li {
    float: left;
    width: 134px;
    height: 154px;
    margin-bottom: 5px;
    overflow: hidden;
}
#roller .items a, .shelf a {
    display: block;
    height: 154px;
    margin: 3px;
    text-align: center;
}
#roller .items a:hover, .shelf a:hover, .shelf a.active {
    background-color: #d5f0ff;
    border: solid 3px #7fc5ed;
    margin: 0;
}
.shelf a.active {color: #000;}
.tooltip {
    display:none;
    background:transparent url('../img/tooltip/black_arrow.png');
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#fff;
    overflow: hidden;
}
.shelfWrapper {
  background: #000;
  float: left;
  height: 190px;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  width: 820px;
}
#shelfWrapper {
  height: 160px;
}
#shelf, #module {
  left: 0px;
  position: absolute;
  top: 0px;
}
#shelf ul, #module ul {
  height: 160px;
}
.shelf .helper {
    background-color: #d5f0ff;
    border: solid 3px #7fc5ed;
    width: 128px;
}
#shelf li.holds {
    background: #222;
    border: solid 3px #333;
    width: 128px;
}
.overlay {
  border: solid 3px #7fc5ed;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
}
#shelf a.close, #module a.close {
  background-color: #7fc5ed;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;   
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: bold;
  float: right;
  height: 20px;
  margin: 0px;
  width: 20px;
}
.sound {
  background: #999;
  height: 25px;
  overflow: hidden;
  position: relative;
}
.sound > div {
  background: #000;
  clear: none;
  float: left;
  height: 18px;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 133px;
}
.sound a, .sound a:hover {
  background: #000;
  border: none;
  color: #fff;
  display: inline;
  margin: 0px auto;
  height: auto;
  width: 134px;
} 
.ui-resizable-e, .ui-resizable-w {
  background-color: #fff;
  cursor: e-resize;
  float: right;
  height: 100%;
  width: 5px;
}
.ui-resizable-w {
  float: left;
}
.sound a.remove, .sound a.remove:hover {
  color: red;
}
#sfWrapper {
  background: #f3f3f3;
  border: solid 2px #666;
  padding: 5px;
}
#tagList {
  margin: 5px 0px;
}
#tagList li {
  background-color: #d0d0d0;
  border: solid 1px #666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline;
  float: left;
  margin: 3px 5px;
  padding: 2px 5px;  
}
#tagList li a, #tagList li a:hover {
  color: red;
  font-weight: bold;
}
#xshelf ul {
    width: 100%;
    height: 100%;
    display: block;
}
#xshelf li {
    float: left;
    width: 134px;
    height: 154px;
}

#fileDetails {
  clear: none;
  float: right;
  height: 500px;
  width: 400px;
}
.details {
  background: #e0e0e0;
  border: solid 2px #666;
  margin: 50px 25px 10px 25px;
  padding: 10px;
  overflow: hidden;
}
.preview {
  margin: 10px auto;
  width: 350px;
}
.name {
  font-weight: bold;
}
.snd {
  background-color: #333;
}
#moduleDetails table td, #moduleDetails table th {
  vertical-align: top;
}
#moduleDetails th {
  padding: 0px 5px;
  text-align: right;
  width: 150px;
}
#moduleDetails input, #moduleDetails textarea {
  width: 250px;
}
/* NAVIGATOR */

/* position and dimensions of the navigator */
.navi {
    margin: 0 auto;
    width:150px;
    height:20px;
    text-align: center;
}

/* items inside navigator */
.navi a {
    width:8px;
    height:8px;
    float:left;
    margin:3px;
    background:url(../img/scrollable/arrow/navigator.png) 0 0 no-repeat;
    display:block;
    font-size:1px;
}

/* mouseover state */
.navi a:hover {
    background-position:0 -8px;
}

/* active state (current page state) */
.navi a.active {
    background-position:0 -16px;
}


/* BUTTONS */

/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
    background:url(../img/scrollable/arrow/hori_large.png) no-repeat;
    display:block;
    width:30px;
    height:30px;
    float:left;
    margin:40px 10px;
    cursor:pointer;
    font-size:1px;
}

/* right */
a.right                 { background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover       { background-position:-30px -30px; }
a.right:active  { background-position:-60px -30px; }


/* left */
a.left              { margin-left: 0px; }
a.left:hover        { background-position:-30px 0; }
a.left:active   { background-position:-60px 0; }

/* up and down */
a.up, a.down        {
    background:url(../img/scrollable/arrow/vert_large.png) no-repeat;
    float: none;
    margin: 10px 50px;
}

/* up */
a.up:hover          { background-position:-30px 0; }
a.up:active         { background-position:-60px 0; }

/* down */
a.down              { background-position: 0 -30px; }
a.down:hover        { background-position:-30px -30px; }
a.down:active   { background-position:-60px -30px; }


/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}
/* -- events console -- */
#console {
  background: #f0f0f0;
  border: solid 1px #666;
  left: 3px;
  position: fixed;
  top: 3px;
}
#cc, #clc {
  border: solid 1px #f0f0f0;
  color: #666;
  font-size: 14px;
  margin: 0px;
  padding: 0px 6px;
}
#cc:hover, #clc:hover {
  border-color: #7fc5ed;
}
#clc {
  display: block;
  float: none;
  font-size: 11px;
  text-align: center;
}
#console h3 {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  padding-top: 3px;
  text-align: center;
}
#msgs {
  color: #666;
  font-size: 11px;
  height: 300px;
  overflow: auto;
  width: 200px;
}
#msgs div {
  padding: 2px;
}
#msgs .date {
  font-weight: bold;
}
#msgs .info {
  color: green;
}
#msgs .error {
  color: red;
}
#msgs .exception {
  color: red;
  text-decoration: underline;
}
#msgs .notice {
  color: blue;
}
/* -- user management -- */
.throbber {
  background: #0088FF;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: .3;
  position: absolute;
  text-align: center;
}
.from, .to, .actions {
  width: 200px;
}
.actions {
  margin-left: 20px;
}
fieldset {
  margin-bottom: 20px;
}
/*.u_details {
  margin-left: 20px;
  width: 300px;
}*/
.from select, .from input, .to select, .to input,  .actions select, .actions input {
  margin: 10px 0px;
  width: 200px;
}
.move {
  padding: 170px 100px 0px 100px;
}
.move input {
  width: 30px;
}
#new_group {
  width: 140px;
}
#u_details {
  background: #e0e0e0;
  border: solid 2px #666;
  padding: 10px;
  width: 200px;
}
#u_details input {
  width: 100px;
}
#u_form {
  display: none;
}
#u_details_content table th {
  text-align: right;
  padding-right: 5px;
}
#u_form label {
  display: block;
  float: left;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 5px;
  text-align: right;
  width: 100px;
}
#u_form input {
  margin-bottom: 10px;
}
.groups {
  vertical-align: top;
}
/* -- module assignment -- */
#module_list, #group_list, #md_wrapper {
  background: #e0e0e0;
  border: solid 1px #666;
  height: 120px;
  overflow: auto;
  padding: 10px 5px;
}
#module_details {
  min-height: 50px;
  height: auto;
  width: 400px;
}
#module_details th {
  padding-right: 3px;
  text-align: right;
  vertical-align: top;
}
#module_list li, #group_list li {
  background: #fff;
  margin: 2px 0px;
  padding: 5px 10px;
}
#trash {
  background-color: #ffecea;
  height: 50px;  
  width: 150px;
}
#md_wrapper, #trash {
  margin-right: 10px;
  margin-top: 20px;
  padding: 5px;
}
#trash strong, #md_wrapper strong {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
}
.dot {
  background: red;
  display: block;
  float: left;
  height: 14px;
  width: 14px;
  margin-right: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
}
.module_name {
  cursor: pointer;
}
.group_name {
  float: left;
  margin-right: 5px;
  overflow: hidden;
  width: 150px;
}
.dots {
  background: #D5F0FF;
  display: block;
  float: left;
  height: 14px;
  min-width: 80%;
  padding: 2px;
}
.dots .dot {
  maring-right: 5px;
}
#as_save {
  margin-top: 20px;
}
#formWrapper {
  margin: 10px 0px;
}
