{% extends "registration/registration_base.html" %}
{% load i18n bootstrap_tags %}

{% block content_header %}
<h1>{% trans "Kneto CC" %}</h1>
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}

    <form id="loginForm" action="{% url 'auth_login' %}" method="post" class="well">{% csrf_token %}
            {% csrf_token %}
        {{ form|as_bootstrap }}

        <input type="hidden" name="next" value="{% url 'home' %}" />
        
        <div>
            <button id="js_loginButton" class="btn btn-success" href="#" style="margin-top: 10px;">{% trans "Login" %}</button>  
        </div>
        <div style="margin-top: 10px;">
            <a class="btn btn-primary"  href="{% url 'registration_register' %}">{% trans "Register" %}</a>
        </div>
        <div style="margin-top: 10px;">
            <a class="button-gray button-big" href="{% url 'auth_password_reset' %}">{% trans "Lost password" %}</a>
        </div>
    </form>

{% endblock %}