{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block meta_title %}{% trans "Password reset" %}{% endblock %}

{% block content_header %}
{% if validlink %}
<h1>{% trans "Password reset" %}</h1>
{% else %}
<h1>{% trans 'Password reset unsuccessful' %}</h1>
{% endif %}
{% endblock %}

{% block content %}
{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form id="loginForm" action="" method="post">{% csrf_token %}
    {% if form.non_field_errors %}
      <div class="error">
        {%for error in form.non_field_errors %}
          {{error}}
        {% endfor %}
      </div>
    {% endif %}
    <ul class="formList">
        <li>
            <label>{% trans 'New password' %}</label>
            <div class="inputWrapper shadow-gray">
                {{ form.new_password1 }}
            </div>
            {{ form.new_password1.errors }}
        </li>
        <li>
            <label>{% trans 'Confirm password' %}</label>
            <div class="inputWrapper shadow-gray">
                {{ form.new_password2 }}
            </div>
            {{ form.new_password2.errors }}
        </li>

    </ul>
    <div id="submitWrapper">
      <a class="button-gray button-big" onclick="$('#loginForm').submit(); return false;" href="#" style="margin-top: 10px;">{% trans "Change my passowrd" %}</a>
    </div>
    <div id="submitWrapper">
        <a class="button-gray button-big" href="{% url "home" %}" style="margin-top: 10px;">{% trans "Ok" %}</a>
    </div>
</form>
{% else %}


<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    <div id="submitWrapper">
        <a class="button-gray button-big" href="{#% url "auth_password_reset" %#}" style="margin-top: 10px;">{% trans "Reset passowrd again" %}</a>
    </div>
    <div id="submitWrapper">
        <a class="button-gray button-big" href="{% url "home" %}" style="margin-top: 10px;">{% trans "Ok" %}</a>
    </div>

{% endif %}

{% endblock %}
