{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Password reset" %}{% endblock %}

{% block content_header %}<h1>{% trans "Password reset" %}</h1>{% endblock %}

{% block content %}
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form id="loginForm" action="" method="post" class="well">{% csrf_token %}
        {% include "_base_form.html" %}

        {% if form.errors.email.as_text == "* Hey, it does not look like you're registered as a sender. Would you like to sign up?" %}
        <div style="margin-top: 10px;">
            <a class="btn btn-primary"  href="{% url 'registration_register' %}?email={{ form.email.value }}">{% trans "Register" %}</a>
        </div>
        {% else %}
        <div>
            <a class="btn btn-success" onclick="$('#loginForm').submit(); return false;" href="#" style="margin-top: 10px;">{% trans "Reset my password" %}</a>
        </div>
        {% endif %}
        <div>
            <a class="btn" href="{% url 'home' %}" style="margin-top: 10px;">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
