{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Password reset" %}{% endblock %}

{% block content_header %}<h1>{% trans "Password reset" %}</h1>{% endblock %}

{% block content %}
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form id="loginForm" action="" method="post" class="well">{% csrf_token %}
        {% include "_include_form.html" %}

        <div>
          <a class="btn btn-primary" onclick="$('#loginForm').submit(); return false;" href="#" style="margin-top: 10px;">{% trans "Reset my password" %}</a>
        </div>
        <div>
            <a class="btn" href="/" style="margin-top: 10px;">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
