{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Password reset complete" %}{% endblock %}

{% block content_header %}<h1>{% trans "Password reset complete" %}</h1>{% endblock %}

{% block content %}
    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <div id="submitWrapper">
        <a class="btn btn-primary" href="{% url 'auth_login' %}" style="margin-top: 10px;">{% trans "Login" %}</a>
    </div>
{% endblock %}
