{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta_title %}Register an account{% endblock %}

{% block content %}
    {% trans "Please start the registration by entering your username" %}
    <form id="signupForm" method='post' action='' class="well">{% csrf_token %}
        {% include "_include_form.html" %}
            
        <label>{% trans 'First name' %}</label>
        <div class="inputWrapper shadow-gray">
            {{ form.first_name }}
        </div>
        {{ form.first_name.errors }}
            
        <label>{% trans 'Last name' %}</label>
        <div class="inputWrapper shadow-gray">
            {{ form.last_name }}
        </div>
        {{ form.last_name.errors }}
    
        <div>
            <a class="btn btn-primary" onclick="$('#signupForm').submit(); return false;" href="#" style="margin-top: 10px;">{% trans "Register" %}</a>
        </div>
        
        <div style="margin-top: 10px;">
            <a class="btn" href="/">{% trans "Cancel" %}</a>
        </div>
        
    </form>
{% endblock %}
