{% extends "registration/registration_base.html" %}
{% load i18n bootstrap_tags %}

{% block meta_title %}{% trans "Register an account" %}{% endblock %}

{% block content %}
{% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {% trans "Please start the registration by entering your username" %}
    <form id="loginForm" method="post" action="" class="well registration_form">
        {% csrf_token %}
        {{ form|as_bootstrap }}
    
        <div>
            <a class="btn btn-success" onclick="$('#loginForm').submit(); return false;" href="#" style="margin-top: 10px;">{% trans "Register" %}</a>
        </div>
        
        <div style="margin-top: 10px;">
            <a class="btn btn-default" href="{% url 'home' %}" style="margin-top: 10px;">{% trans "Cancel" %}</a>
        </div>

    </form>
{% endblock %}