{% extends "base_template.html" %}
{% load static i18n %}

{% block content %}
    <div class="row">
        <div class="center registration_page col-sm-6 col-md-6">
            {% block content_header %}
            <h1>{% trans "Register" %}</h1>
            {% endblock %}
            
            {% block registration_content %}{% endblock %}
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script type="text/javascript" src="{% static 'js/accounts.js' %}"></script>
{% endblock %}