{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta_title %}Register an account{% endblock %}

{% block content %}
    {% trans "Please start the registration by entering your username" %}
    <form id="signupForm" method='post' action='' class="well">{% csrf_token %}
        {% include "_base_form.html" %}
    
        <div>
            <a class="btn btn-success" onclick="$('#signupForm').submit(); return false;" href="#" style="margin-top: 10px;">{% trans "Register" %}</a>
        </div>
        
        <div style="margin-top: 10px;">
            <a class="btn" href="/">{% trans "Cancel" %}</a>
        </div>

    </form>
{% endblock %}