.idea
.DS_Store
*.sw[po]
*.py[co]
*.sqlite
*.iml
*.bak
*.db
*.class
*.rdb
*.tmp
_build/

/cc/local_settings.py
/cc/media/uploads/[A-Za-z0-9]*
/cc/media/pub/[A-Za-z0-9]*
/cc/media/thumbnails/[A-Za-z0-9]*
/cc/media/previews/[A-Za-z0-9]*
/cc/static/css/*

# coverage's stats and html report
.coverage
/htmlcov
/.project
/.pydevproject
/.settings
/redis
/tomcat
/tmp/*
reports.log

gunicorn.conf.py
.metadata
django.mo
inst.py
