.idea
.DS_Store
*.sw[po]
*.py[co]
*.sqlite
*.iml
*.bak
*.db
*.class
*.rdb
*.tmp

reports.log
.metadata
django.mo
inst.py
.coverage

/cc/local_settings.py
/cc/media/summernote/[A-Za-z0-9]*
/cc/media/uploads/[A-Za-z0-9]*
/cc/media/pub/[A-Za-z0-9]*
/cc/media/thumbnails/[A-Za-z0-9]*
/cc/media/previews/[A-Za-z0-9]*
/cc/static/css/*
/cc/static/js/min
/cc/static/js/vendor/min

_build/
/htmlcov
/.project
/.pydevproject
/.settings
/redis
/tomcat
/tmp/*

# after deployment
/gunicorn.conf.py
/gunicorn.pid
/last.commit
/last.tar



# --------------- EXCEPTION --------------- #
# one exception for the selenium test
!/cc/media/pub/RBauHJHSXvqKkAiBYIxdxR_gdU5E
!/cc/media/uploads/RBauHJHSXvqKkAiBYIxdxR_a1BMF.pdf
