{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block meta_title %}{% trans "Password reset" %}{% endblock %}
{% block content_header %}<h1>{% trans "Password reset" %}</h1>{% endblock %}
{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form id="loginForm" action="" method="post">{% csrf_token %}
    {% if form.non_field_errors %}
      <div class="error">
        {%for error in form.non_field_errors %}
          {{error}}
        {% endfor %}
      </div>
    {% endif %}
    <ul class="formList">
        <li>
            <label>{% trans 'Email' %}</label>
            <div class="inputWrapper shadow-gray">
                {{ form.email }}
            </div>
            {{ form.email.errors }}
        </li>
    </ul>
    <div id="submitWrapper">
      <a class="button-gray button-big" onclick="$('#loginForm').submit(); return false;" href="#" style="margin-top: 10px;">{% trans "Reset my password" %}</a>
    </div>
    <div id="submitWrapper">
        <a class="button-gray button-big" href="{% url "dashboard" %}" style="margin-top: 10px;">{% trans "Ok" %}</a>
    </div>
</form>
{% endblock %}
