{% extends "base_template.html" %}
{% load i18n %}
{% block meta_title %}{% trans "User profile" %}{% endblock %}
{% block title %}{% trans "User profile" %}{% endblock %}
{% block js_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/user-profile.js"></script>
{% endblock %}
{% block administrationclass %} class="active"{% endblock %}
{% block bodyclass %}
	{% if user.get_profile.role == 30 %} class="userView" {% endif %} 
{% endblock %}

{% block content %}


<div id="userProfile">
	<ul class="formList">
	        <li>
	            <label>{% trans "Username" %}</label>
	            <span>{{ user.username }}</span>
	        </li>
	        <li>
	            <label>{% trans "First name" %}</label>
	            <span>{{ user.first_name }}</span>
	        </li>
	        <li>
	            <label>{% trans "Last name" %}</label>
	            <span>{{ user.last_name }}</span>
	        </li>
	        <li>
	            <label>{% trans "Email" %}</label>
	            <span>{{ user.email }}</span>
	        </li>
	        <li>
	            <label>{% trans "Phone" %}</label>
	            <span>{{ user.get_profile.phone }}</span>
	        </li>
	</ul>
	
	    {% if not user.get_profile.ldap_user %}
	        <div style="width: 200px; margin: 0px auto;"><a id="cp" class="button-gray button-big nyroModalClose nyroModalCloseButton" href="#" style="margin-top: 10px;">{% trans "Change password" %}</a></div>
	    {% endif %}
	        <!--
	        <form class="nyroModal" id="importCSVForm" action="{% if group_id %}/management/groups/{{ group_id }}/members/import/{% else %}/management/users/delete/{% endif %}" method="post" enctype="multipart/form-data">
	            {% include "form_template.html" %}
	            <div style="width: 200px; margin: 0px auto;"><a class="button-gray button-big" href="#" style="margin-top: 10px;">{% trans "Upload CSV file" %}</a></div>
	        </form>
	        -->
</div>
{% endblock %}
