{% load url from future %}

<div class="cancel-subscription">
    <h2>Cancel Subscription</h2>
    {% include "payments/_subscription_status.html" %}
    <p class="lead">Are you sure that you want to cancel?</p>
<!-- below is not workign, not sure why 
    {% if request.user.customer.current_subscription.status == 'canceled' %}
        <div class="alert alert-danger">Your account has been canceled. It will remain active until <strong>{{ request.user.customer.current_subscription.current_period_end }}.</strong></div>
    {% else %} -->

    {{ request.user.customer.current_subscription.status }}
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <form class="form ajax" data-replace-closest=".cancel-subscription" action="{% url 'payments_ajax_cancel' %}" method="POST">
        {% csrf_token %}
        <div class="actions">
            <button type="submit" id="form-submit" class="btn btn-mini btn-danger ladda-button" data-style="expand-left">
            <span class="ladda-label">Cancel</span></button>
        </div>
    </form>

    {% endif %}
</div>