<div class="cancel-subscription">
    <h2>Cancel Subscription</h2>
    {% include "payments/_subscription_status.html" %}

    {% if not subscription.cancel_at_period_end %}

        <p class="lead">Are you sure that you want to cancel?</p>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form class="form ajax" data-replace-closest=".cancel-subscription" action="{% url 'payments_ajax_cancel' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-danger" data-loading-text="Processing...">Cancel</button>
        </form>
        
    {% endif %}
</div>