{% load bootstrap_tags %}

<div class="change-subscription">
    <h2>Change Subscription</h2>
    <p class="lead">
        {% if request.user.customer.current_subscription.plan %}
            You currently have the <strong>{{ request.user.customer.current_subscription.plan_display }}</strong> plan.
        {% else %}
            You currently do not have a plan.
        {% endif %}
    </p>

    {% url 'payments_ajax_change_plan' as action %}
    {% include "payments/_plan_form.html" with data_replace='data-replace-closest=".change-subscription"' current_plan=request.user.customer.current_subscription.plan %}
</div>