{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<div class="row">
    <div class="col-md-4">
        <div class="jumbotron {% ifequal current_plan 'monthly' %}active_plan{% endifequal %}">
            <h3>Single User</h3>
           <div class="price">
                                <span class="dollar">€</span> 
                                <span class="qty">19,99</span> 
                                <span class="month">/month</span>
                            </div>
            <div class="features">
                                <ul class="list-unstyled">
                                    <li><small>1 user </small></li>
                                    <li><small>15 day trial </small></li>
                                    <li><small>Send as many offers as you like </small></li>
                                    <li><small>Full page level analytics </small></li>
                                    <li><small>Email opened notifications </small></li>
                                </ul>
                            </div>
            <form action="{{ action }}" class="form ajax"  data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" {{ data_replace }} method="POST">
                {% csrf_token %}
                <input name="stripe_token" type="hidden" />
                <input type="hidden" name="plan" value="monthly_01" />
                <div class="form-actions">
                    <button id="js_price_2478" type="submit" class="btn btn-primary" data-loading-text="Processing...">Get it</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-4">
        <div class="jumbotron {% ifequal current_plan 'early_small' %}active_plan{% endifequal %}">
            <h3>Early Access <br>small plan</h3>
            <div class="price">
                                <span class="dollar">€</span> 
                                <span class="qty">150</span> 
                                <span class="month">/month</span>
                            </div>
            <div class="features">
                                <ul class="list-unstyled">
                                    <li><small>5 team members</small></li>
                                    <li><small>Send as many offers as you like</small></li>
                                    <li><small>Full page level analytics</small></li>
                                    <li><small>Email opened notifications</small></li>
                                    <li><small>Priority support</small></li>
                                </ul>
                            </div>
            <form action="{{ action }}" class="form ajax"  data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" {{ data_replace }} method="POST">
            {% csrf_token %}
                <input name="stripe_token" type="hidden" />
                <input type="hidden" name="plan" value="early_small_01" />        
                <div class="form-actions">
                   <button id="js_price_18600" type="submit" class="btn btn-primary" data-loading-text="Processing...">Get it!<sup>*</sup></button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-4">
        <div class="jumbotron {% ifequal current_plan 'early_large' %}active_plan{% endifequal %}">
            <h3>Early Access <br>large plan</h3>
            <div class="price">
                                <span class="dollar">€</span> 
                                <span class="qty">499</span> 
                                <span class="month">/month</span>
                            </div>
            <div class="features">
                                <ul class="list-unstyled">
                                    <li><small>12 team members</small></li>
                                    <li><small>Send as many offers as you like</small></li>
                                    <li><small>Full page level analytics</small></li>
                                    <li><small>Email opened notifications</small></li>
                                    <li><small>Priority support</small></li>
                                </ul>
                            </div>
            <form action="{{ action }}" class="form ajax"  data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" {{ data_replace }} method="POST">
                {% csrf_token %}
                <input name="stripe_token" type="hidden" />  
                <input type="hidden" name="plan" value="early_large_01" />     
                <div class="form-actions"> 
                    <button id="js_price_61876" type="submit" class="btn btn-primary" data-loading-text="Processing...">Get it!<sup>*</sup></button>
                </div>
            </form>
        </div>
    </div>
</div>

<p class="text-left">
    <sup>*</sup><small>24% VAT will be added</small>
</p>