{% extends "payments/base.html" %}
{% load url from future %}

<!-- {% block title %}Purchase a Subscription{% endblock title %} -->

{% block content %}
    {% with request.user.customer.current_subscription as subscription %}
       {% if subscription.status == "trialing" %} 

        <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#change_subscription" data-toggle="tab">Change your subscription</a></li>
        <li><a href="#cancel_subscription" data-toggle="tab">Cancel your subscription</a></li>
      </ul>

<!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home"> <p class="lead">
        {% include "payments/_subscription_status.html" %}
        <strong></strong></div>
          <div class="tab-pane" id="change_subscription">{% include "payments/_change_plan_form.html" %}</div>
          <div class="tab-pane" id="cancel_subscription">{% include "payments/_cancel_form.html" %}</div>
        </div>
    
        {% elif not subscription or subscription.status != 'active'  %}
          {% include "payments/_subscription_status.html" %}
           {% include "payments/_subscribe_form.html" %}

        {% else %}
           
            <p class="lead">You can:</p> 

  <!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#payment_history" data-toggle="tab">Payment history</a></li>
  <li><a href="#change_card" data-toggle="tab">Change your card</a></li>
  <li><a href="#change_subscription" data-toggle="tab">Change your subscription</a></li>
  <li><a href="#cancel_subscription" data-toggle="tab">Cancel your subscription</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home"> <p class="lead">
{% include "payments/_subscription_status.html" %}
<strong></strong></div>

  <div class="tab-pane" id="payment_history">{% include "payments/history.html" %}</div>
  <div class="tab-pane" id="change_card">{% include "payments/_change_card_form.html" %}</div>
  <div class="tab-pane" id="change_subscription">{% include "payments/_change_plan_form.html" %}</div>
  <div class="tab-pane" id="cancel_subscription">{% include "payments/_cancel_form.html" %}</div>
</div>

        {% endif %}
    {% endwith %}




{% endblock %}

