{% load i18n %}
<div class="modalContent" style="width: 760px;">
  <h1>{% trans "Edit message" %}</h1>
  <a class="close customModalClose customModalCloseButton" href="#"></a>
  <div class="separator"></div>
	<div class="nyroModalWrapper">
        <form id="messageTemplateForm" class="ntopWideContainer">
            <input type="hidden" id="userEdit" value="{% if user_edit %}1{% else %}0{%endif %}" />
            <input type="hidden" id="templateType" value="{{ templateType }}" />
            <ul class="formList">
              <li id="messageTemplateSubject" class="messageTitle">
	            <label>{% trans "Subject" %}</label>
	            <div class="inputWrapper shadow-gray">
	              <input type="text" value="{% if savedTemplate %}{{ savedTemplate.subject }}{% else %}{{ template.subject }}{% endif %}" />
	                  <input type="hidden" class="default" value="{{ defaults.0 }}" />
	            </div>
              </li>
        
              <li id="messageTemplate" class="messageContent">
	            <label>{% trans "Message" %}</label>
	                <div class="inputWrapper shadow-gray htmlEditor">
	                    <textarea class="htmlEditor">{% if savedTemplate %}{{ savedTemplate.content }}{% else %}{{ template.content }}{% endif %}</textarea>
	                    <input type="hidden" class="default" value="{{ defaults.1 }}" />
	                </div>
	            <div style="margin-left: 150px">
	              <span class="description">{% trans "Parameters" %}:
	                <strong>
	                  {% for param in template.get_params.all %}
	                  {{ param.pattern }}{% if not forloop.last %},{% endif %}
	                  {% endfor %}
	                </strong>
	              </span>
	            </div>
              </li>
            </ul>
        
            <div>
                <div style="min-width: 150px; margin: 0 16px 0 auto; display: block; float: right;">
                  <a class="button-blue button-big button-submit" href="#" style="">{% trans "Save" %}</a>
                </div>
                <div style="min-width: 150px; margin: 0 16px 0 auto; display: block; float: right; ">
                  <a class="button-gray button-big button-default" href="#" style="width: 150px;">{% trans "Cancel" %}</a>
                </div>
                <div style="min-width: 226px; margin: 0 16px 0 auto; display: block; float: right; ">
                  <h3 class="fleft">{% trans "Back to default" %}</h3>
                  <input type="checkbox" name="back_to_default" id="default_template" class="left-checkbox">
                </div>
            </div>
            <div class="clear"></div>
          </form>
	</div>
  <div class="hr"></div>
</div>
