{% extends "modal_template.html" %}
{% load i18n %}
{% block style %} style="width: 550px;"{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% if result.action == 'add' and result.errors %}
        <ul class="formList">
            <li style='text-transform:capitalize;'>{% trans "No changes have been made in the database because of following errors:" %}</li>
            {% for error in result.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <div style="width: 200px; margin: 0px auto;"><a id="closeAfterImport" class="button-gray button-big nyroModalClose nyroModalCloseButton" href="#" style="margin-top: 10px;">{% trans "Close window" %}</a></div>
    {% else %}
        {% if result.infos or result.errors %}
            <script>
                app.data.reload = true;
            </script>
            <ul class="formList">
                <li>{% trans "Processed" %} {{ result.row_num }} {% trans "rows" %}</li>
                {% for info in result.infos %}
                <li>{{ info }}</li>
                {% endfor %}
            </ul>
            <ul class="formList">
                {% for error in result.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <div style="width: 200px; margin: 0px auto;"><a id="closeAfterImport" class="button-gray button-big nyroModalClose nyroModalCloseButton" href="#" style="margin-top: 10px;">{% trans "Close window" %}</a></div>
        {% else %}
            <form class="nyroModal" id="importCSVForm" action="{% if group_id %}/management/groups/{{ group_id }}/members/import/{% else %}/management/users/delete/{% endif %}" method="post" enctype="multipart/form-data">
                {% include "form_template.html" %}
                <div style="width: 200px; margin: 0px auto;"><a class="button-gray button-big" href="#" style="margin-top: 10px;">{% trans "Upload CSV file" %}</a></div>
            </form>
        {% endif %}
    {% endif %}

{% endblock %}
