{% extends "modal_template.html" %}
{% load i18n %}
{% block style %} style="height: 230px; width: 520px;"{% endblock %}
{% block title %}
    {% trans "Change password" %}
{% endblock %}
{% block content %}
{% if form.non_field_errors %}
  <div class="error">
    {%for error in form.non_field_errors %}
      {{error}}
    {% endfor %}
  </div>
{% endif %}
<form id="passChangeForm"  action="/management/users/password/" method='post'>
    {% csrf_token %}
    {{ form.user_id }}
    <ul class='formList'>
        <li>
            {% if form.old_password.errors %}
                  <div class="formError">
                    {%for error in form.old_password.errors %}
                      {{error}}
                    {% endfor %}
                  </div>
                {% endif %}
            <label>{{ form.old_password.label }}</label>
            <div class="inputWrapper shadow-gray">{{ form.old_password }}</div>
        </li>
        <li>
            {% if form.new_password.errors %}
                  <div class="formError">
                    {%for error in form.new_password.errors %}
                      {{error}}
                    {% endfor %}
                  </div>
                {% endif %}
            <label>{{ form.new_password.label }}</label>
            <div class="inputWrapper shadow-gray">{{ form.new_password }}</div>
        </li>
        <li>
            {% if form.new_password_rep.errors %}
                  <div class="formError">
                    {%for error in form.new_password_rep.errors %}
                      {{error}}
                    {% endfor %}
                  </div>
                {% endif %}
            <label>{{ form.new_password_rep.label }}</label>
            <div class="inputWrapper shadow-gray">{{ form.new_password_rep }}</div>
        </li>
    </ul>
<div style="width: 200px; margin: 0px auto;" id='sp'><a class="button-gray button-big" href="#" style="margin-top: 10px;">{% trans "Save changes" %}</a></div>
</form>
{% endblock %}
