{% extends "base_template.html" %}
{% load i18n %}
{% block meta_title %}{{ course.title }}{% endblock %}
{% block title %}{{ course.title }}{% endblock %}
{% block js_globals %}var moduleID = {{ course.id|default:"null" }};{% endblock %}
{% block js_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/module-viewer.js"></script>
<script type="text/javascript">
   singleModuleMode = true;
</script>
{% endblock %}
{% block bodyclass %} class="userView"{% endblock %}
{% block menu_wrapper %}{% endblock %}
{% block top_content %}
    <div id="topContentHolder">
        <!-- Place branding content here. Will be shown on the top of view -->
    </div>
{% endblock %}
{% block login_controller %}
{% endblock %}
{% block left_content %}
    <div id="leftContentHolder">
        <!-- Place branding content here. Will be shown on the left side -->
    </div>
{% endblock %}
{% block content %}
    <div class="hidden" id="ocl_token">{{ token }}</div>
    <div class="boxGray" id="moduleViewer">
	    <div id="videoWrapper">
	    	<div id="video"></div>
	    	<div id="playLesson" class="playButton_bigGreen"></div>
	    </div>
	    <div class="hr"></div>
	    <div class="moduleWrapper" id="moduleUserWrapper">
	        <div class="scrollableWrapper">
	          <div  id="moduleLeft" class="leftMargin margin prev">
	            <a class="prev browse left"></a>
	          </div>
	          <div id="moduleWrapper">
	            <div id="module" class="shelf">
	              <ul id="moduleList"></ul>
	            </div>
	          </div>
	          <div id="moduleRight" class="rightMargin margin next">
	            <a class="next browse right"></a>
	          </div>
	        </div>
	        <div class="hr"></div>
	      </div>
    </div>
    {% if course.sign_off_required %}
    <a id="courseSignOff" class="button-orange fright" {% if not show_sign_off_button %}style="display: none;"{%endif%}
        href="{% url "content-sign_off_module" course.id %}?token={{token}}">{% trans "Sign off" %}</a>
    {% endif %}
<!--    <a id="courseObjective" class="button-orange fright" href="#">{% trans "Module objective" %}</a>-->
    <div class="hr"></div>
{% endblock %}
{% block right_content %}
    <div id="rightContentHolder">
        <!-- Place branding content here. Will be shown on the right side -->
    </div>
{% endblock %}
{% block bottom_content %}
    <div id="bottomContentHolder">
    {% if allow_login %}
        <div class="short_login">
            <form id="loginForm" action="{% url "auth_login" %}" method="post">
             {% csrf_token %}
                <div class="inputWrapper shadow-gray">
                <input type='text' id='id_username' name='username'/>
                </div>
                <div class="inputWrapper shadow-gray">
                <input type='password' id='id_password' name='password'/>
                </div>
                <div class="inputWrapper shadow-gray selectWrapper" style="display: none;">
                    <select id='id_language' name='language'>
                        {% for lang_id, lang_name in request.session.languages %}
                        <option value="{{ lang_id }}" {% if lang_id == request.session.django_language %} selected="selected" {% endif %}>{{ lang_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    {% endif %}
        <!-- Place branding content here. Will be shown on the bottom of view -->
    </div>
{% endblock %}
