{% extends "modal_template.html" %}
{% load i18n %}
{% block style %} style="width: 640px;"{% endblock %}
{% block title %}{% trans "Preview" %}{% endblock %}
{% block content %}
<div class="nyroModalWrapper">
    <span class="header">{% trans "Email message" %}</span>
    <div class="notificationMessage topWideContainer boxGray">
        <div id="messageTemplate" style="display: none">{{ notificationBody }}</div>
        <iframe class="whiteBox shadow-gray">
        </iframe>
    </div>
    <span class="header fleft" style="clear: both">{% trans "Content" %}</span>
    <div id="modulesPreviewList" class="boxGray fleft">
       <ul class="whiteBox result shadow-gray list">
         
       </ul>
   </div>
   <div id="assignmentPreviewLesson">
        <span>{% trans "No content selected" %}</span>
        <div id="video"></div>
   </div>
</div>

{% endblock %}
