{% load extras %}
{% if form.non_field_errors %}
  <div class="error">
    {%for error in form.non_field_errors %}
      {{error}}
    {% endfor %}
  </div>
{% endif %}
{% csrf_token %}
<ul class="formList">
  {% for field in form.hidden_fields %}
    {{ field }}
  {% endfor %}
  {% for field in form %}
      {% if not field.is_hidden %}
          <li>
            <label>{{ field.label }}</label>
            {% if field.field.widget|type == 'TextInput' %}
                <div class="inputWrapper shadow-gray">{{ field }}</div>
            {% else %}{% if field.field.widget|type == 'Textarea' %}
                <div class="inputWrapper shadow-gray">{{ field }}</div>
                <span class="charCounter"></span>
            {% else %}{% if field.field.widget|type == 'PasswordInput' %}
                <div class="inputWrapper shadow-gray">{{ field }}</div>
            {% else %}{% if field.field.widget|type == 'Select' %}
                <div class="inputWrapper shadow-gray selectWrapper">{{ field }}</div>
			{% else %}{% if field.field.widget|type == 'CheckboxInput' %}
                <div class="inputWrapperCheck shadow-gray ">{{ field }}</div>                
			{% else %}{% if field.field.widget|type == 'CheckboxSelectMultiple' %}
                <div class="inputWrapperCheck shadow-gray {% if field.field.additionalClass %}{{field.field.additionalClass}}{% endif %}" style="height:auto">{{ field }}</div>                
            {% else %}
                {{ field }}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% if field.errors %}
              <div class="formError">
                {%for error in field.errors %}
                  {{error}}
                {% endfor %}
              </div>
            {% endif %}
          </li>
      {% endif %}
  {% endfor %}
</ul>
