{% extends "base_template.html" %}
{% load i18n %}
{% block meta_title %}{% trans "Status" %}{% endblock %}
{% block title %}{% trans "Status" %}{% endblock %}
{% block js_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/user-modulelist.js"></script>
{% endblock %}
{% block bodyclass %} class="userView"{% endblock %}
{% block userstatusclass %} class="active"{% endblock %}
{% block content %}
<div id="userLessons">
	<div class="tabs">
	  <ul>
	    <li class="first active">
	      <span class="left"></span>
	      <a href="#myLessons"><span>{% trans "Inbox" %}</span></a>
	      <span class="right"></span>
	    </li>
	    <li class="">
	      <span class="left"></span>
	      <a href="#myFinishedLessons"><span>{% trans "Archive" %}</span></a>
	      <span class="right"></span>
	    </li>
	  </ul>
	</div>
	<div id="userLessonsWrapper" class="boxGray">
	  <div class="inputWrapper shadow-gray">
	    <select id="user_groups" class="selectBoxJs">
	    	<option value="0"> {% trans "-- All groups --" %} </option>
	      {% for group in user.groups.all %}
	      	<option value="group{{ group.id }}">{{ group.name }}</option>
	      {% endfor %}
	     </select>
	   </div>
	   <div id="myLessons" class="result">
	   {% for course in courses %}
	      <div class="singleLessonWrapper {% for group in course.groups.all %}group{{ group.id }}{% if not forloop.last %} {% endif %}{% endfor %}">
	         <div class="lessonDetails">
	           <span class="playLessonWrapper">
    	           {% if course.is_new %}<span class="newFlag">{% trans "New" %}</span>{% endif %}
    	           <a href="{% url "content-view_module" id=course.id %}" class="playLesson">&nbsp;</a>
								 <div class="tooltip">
									{% trans "View Content" %}
								</div>
	           </span>
               <a id="sendMessageToLessonOwner" course_id="{{ course.id }}" ownerid="{{ course.owner.id }}" ownername="{{ course.owner.first_name }} {{ course.owner.last_name }}" href="#" class="sendMessageIco"></a>
						 <div class="tooltip">
            		{% trans "Send a message to the author" %}
            	</div>
	           <p class="title"><a href="{% url "content-view_module" id=course.id %}">{{ course.title }}</a>
            	<div class="tooltip">
            		<table>
            			<tr>
            				<td>
            					{% trans "Author" %}:
            				</td>
            				<td>
            					{{ course.owner.first_name }} {{ course.owner.last_name }}
            				</td>
            			</tr>
            			<tr>
            				<td>
            					{% trans "Published" %}:
            				</td>
            				<td>
            					{{ course.published_on|date:"Y-m-d H:i" }}
            				</td>
            			</tr>
            		</table>
            	</div>
	           </p>
	           <span class="time">{{ course.duration }} min</span>
	         </div>
	         <div class="rollerWrapper">
	           <div class="leftMargin margin prev fleft">
	             <a href="#" class="browse left"></a>
	            </div>
	            <div id="list{{course.id }}Wrapper" class="roller">
	              <div id="list{{ course.id }}" class="rollerItems">
	                <ul>
	                	{% for segment in course.segments_with_learnt_flag %}
		              		<li{% if segment.is_learnt %} class="completed"{% endif %}>
		                    	<a href="{% url "content-view_module" id=course.id %}#{{ forloop.counter0 }}" class="singleFile" title="">
		                      		<img src="{{ MEDIA_URL }}img/blank.gif" class="fileTypeIco fileType{{segment.file.type}}" alt="" />
		                    	</a>
		                    	{% if not segment.available %}
                                	<div class="courseApla"></div>
                                {% endif %}
		                    	<div class="tooltip">
		                    		<table>
		                    			<tr>
		                    				<td>
		                    					{% trans "Title" %}:
		                    				</td>
		                    				<td>
		                    					{{ segment.file.title }}
		                    				</td>
		                    			</tr>
		                    			<tr>
		                    				<td>
		                    					{% trans "Duration" %}:
		                    				</td>
		                    				<td>
		                    					{{ segment.file.duration }} min
		                    				</td>
		                    			</tr>
		                    		</table>
		                    	</div>

		                  	</li>
	          			{% endfor %}
	                </ul>
	              </div>
	            </div>
	            <div class="rightMargin margin next fright">
	              <a href="#" class="browse right"></a>
	            </div>
	          </div>
	      </div>
      	{% endfor %}
	   </div>
	   <div id="myFinishedLessons" class="result">
	       {% for course in finished_courses %}
              <div class="singleLessonWrapper {% for group in course.groups.all %}group{{ group.id }}{% if not forloop.last %} {% endif %}{% endfor %}">
                 <!--<div class="lessonDetails">
                   {% if course.is_new %}<span class="newFlag">{% trans "New" %}</span>{% endif %}
                   <a id="sendMessageToLessonOwner" course_id="{{ course.id }}" ownerid="{{ course.owner.id }}" ownername="{{ course.owner.first_name }} {{ course.owner.last_name }}" href="#" class="postIco"></a>
                   <p class="title">
                   	<a href="{% url "content-view_module" id=course.id %}">{{ course.title }}</a>
	            	<div class="tooltip">
	            		<table>
	            			<tr>
	            				<td>
	            					{% trans "Author" %}:
	            				</td>
	            				<td>
	            					{{ course.owner.first_name }} {{ course.owner.last_name }}
	            				</td>
	            			</tr>
	            			<tr>
	            				<td>
	            					{% trans "Published" %}:
	            				</td>
	            				<td>
	            					{{ course.published_on|date:"Y-m-d H:i" }}
	            				</td>
	            			</tr>
	            		</table>
	            	</div>
                   	</p>
                 </div>-->
								 <div class="lessonDetails">
	           <span class="playLessonWrapper">
    	           {% if course.is_new %}<span class="newFlag">{% trans "New" %}</span>{% endif %}
    	           <a href="{% url "content-view_module" id=course.id %}" class="playLesson">&nbsp;</a>
								 <div class="tooltip">
									{% trans "View Content" %}
								</div>
	           </span>
               <a id="sendMessageToLessonOwner" course_id="{{ course.id }}" ownerid="{{ course.owner.id }}" ownername="{{ course.owner.first_name }} {{ course.owner.last_name }}" href="#" class="sendMessageIco"></a>
						 <div class="tooltip">
            		{% trans "Send a message to the author" %}
            	</div>
	           <p class="title"><a href="{% url "content-view_module" id=course.id %}">{{ course.title }}</a>
            	<div class="tooltip">
            		<table>
            			<tr>
            				<td>
            					{% trans "Author" %}:
            				</td>
            				<td>
            					{{ course.owner.first_name }} {{ course.owner.last_name }}
            				</td>
            			</tr>
            			<tr>
            				<td>
            					{% trans "Published" %}:
            				</td>
            				<td>
            					{{ course.published_on|date:"Y-m-d H:i" }}
            				</td>
            			</tr>
            		</table>
            	</div>
	           </p>
	           <span class="time">{{ course.duration }} min</span>
	         </div>
                 <div class="rollerWrapper">
                   <div class="leftMargin margin prev fleft">
                     <a href="#" class="browse left"></a>
                    </div>
                    <div id="list{{course.id }}Wrapper" class="roller">
                      <div id="list{{ course.id }}" class="rollerItems">
                        <ul>
                            {% for segment in course.segments_with_learnt_flag %}
                                <li{% if segment.is_learnt %} class="completed"{% endif %}>
                                    <a href="{% url "content-view_module" id=course.id %}#{{ forloop.counter0 }}" class="singleFile" title="">
                                        <img src="{{ MEDIA_URL }}img/blank.gif" class="fileTypeIco fileType{{segment.file.type}}" alt="" />
                                    </a>
    		                    	<div class="tooltip">
		                    		<table>
		                    			<tr>
		                    				<td>
		                    					{% trans "Title" %}:
		                    				</td>
		                    				<td>
		                    					{{ segment.file.title }}
		                    				</td>
		                    			</tr>
		                    			<tr>
		                    				<td>
		                    					{% trans "Duration" %}:
		                    				</td>
		                    				<td>
		                    					{{ segment.file.duration }} min
		                    				</td>
		                    			</tr>
		                    		</table>
		                    	</div>
                                </li>
                            {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <div class="rightMargin margin next fright">
                      <a href="#" class="browse right"></a>
                    </div>
                  </div>
              </div>
            {% endfor %}
	   </div>
	</div>
	<div class="spacer"></div>
</div>

{% endblock %}
