{% for row in message_list %}
<tr data-message="{{ row.message.id }}" class="js_row_message_{{ row.message.id }} message_row">
    <td>{{ row.message.receivers.all|join:', ' }}</td>
    <td>{{ row.message.created_at|date:'H:i d.m.Y' }}</td>
    <td>{{ row.message.subject }}</td>
    <td>{{ row.last_visit|date:'H:i d.m.Y' }}</td>
    <td>{{ row.visit_count }}</td>
    <td>{{ row.message.files.count }}</td>
    <td>{{ row.location|default:'' }}</td>
    <td>{{ row.device|default:'' }}</td>
    <td>{% if row.resend %}<input type="checkbox" class="js_resend_checkbox" />{% endif %}</td>
</tr>
{% endfor %}