{% load i18n %}

<h3>{% trans "Priority call list" %}</h3>

<div class="row">
    <div class="form-group col-md-6 col-lg-6">
        <label for="js_search_email" class="form-label">{% trans "Search" %}</label>
        <input id="js_search_email" type="text" class="form-control" />
    </div>

    <div class="form-group col-md-6 col-lg-6">
        <label for="js_date_filter_call_list" class="form-label">{% trans "Past days" %}</label>
        <select id="js_date_filter_call_list" class="form-control">
            <option value="7">7</option>
            <option value="14" selected="selected">14</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
        </select>
    </div>
</div>

<div class="call_list_wrapper table-responsive">    
    <table class="table table-bordered call_list_table sortable">
        <thead>
            <tr>
                <th>{% trans "Sold" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Time sent" %}</th>
                <th>{% trans "Subject" %}</th>
            </tr>
        </thead>
        <tbody>
            {% include "main/_dashboard_call_list_table.html" %}
        </tbody>
    </table>
</div>