{% load i18n %}

<h3>{% trans "Postal report" %}</h3>
<div class="row">
    <div class="form-group col-md-6 col-lg-6">
        <h5>{% trans "Total messages sent this month" %}: {{ message_sent }}</h5>
    </div>
    <div class="form-group col-md-6 col-lg-6">
        <label for="js_date_filter_message_list" class="form-label">{% trans "Past days" %}</label>
        <select id="js_date_filter_message_list" class="form-control">
            <option value="7" selected="selected">5</option>
            <option value="14">14</option>
            <option value="30">30</option>
        </select>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered messages_table">
        <thead>
            <tr>
                <th>{% trans "Sent to" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Last opened" %}</th>
                <th>{% trans "Opened" %}</th>
                <th>{% trans "Attachments" %}</th>
                <th>{% trans "Location" %}</th>
                <th>{% trans "Device type" %}</th>
                <th>{% trans "Resend" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in message_list %}
            <tr data-message="{{ row.message.id }}">
                <td>{{ row.message.receivers.all|join:', ' }}</td>
                <td>{{ row.message.created_at|date:'d.m.Y H:i:s' }}</td>
                <td>{{ row.message.subject }}</td>
                <td>{{ row.last_visit }}</td>
                <td>{{ row.visit_count }}</td>
                <td>{{ row.message.files.count }}</td>
                <td>{{ row.location|default:'' }}</td>
                <td>{{ row.device|default:'' }}</td>
                <td>{% if row.resend %}<input type="checkbox" class="js_resend_checkbox" />{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>

<h5>{% trans "Problemed messages" %}</h5>
<div class="table-responsive">
    <table class="table table-bordered bounces_table">
        <thead>
            <tr>
                <th>{% trans "Problem" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Reason" %}</th>
                <th>{% trans "Fix" %}</th>
                <th>{% trans "Remove" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in bounce_list %}
            <tr id="row_{{ row.id }}" class="message_{{ row.message.id }}">
                <td>{{ row.event_type|capfirst }}</td>
                <td class="email_cell">{{ row.email }}</td>
                <td>{{ row.message.subject }}</td>
                <td>{{ row.created_at|date:'d.m.Y H:i:s' }}</td>
                <td>{{ row.reason }}</td>
                <td class="fix_cell"><input type="checkbox" class="js_fix" /></td>
                <td class="remove_cell"><input type="checkbox" class="js_remove" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>