{% extends 'base_template.html' %}
{% load url from future %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
        <h2>CC Dashboard</h2>
    </div>

    <div class="span6 offset3">
        <p class="lead">Hey, good to see you. We really belive using kneto you'll close more deals.
        Thanks for giving it a shot, and if we can help, just send us a mail.</p> 
    </div>

    <div class="span3 offset3">
        <a href="{% url 'send' %}" class="btn btn-large btn-success">Send offers</a>
    </div>

    <div class="span3">
        <a href="{% url 'report_index' %}" class="btn btn-large btn-success">View reports</a>
    </div>
</div>
{% endblock %}
