{% extends 'base_template.html' %}
{% load extras i18n staticfiles %}

{% block meta_title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-md-6">
        {% include "main/_dashboard_call_list.html" %}
    </div>

    <div class="col-sm-6 col-md-6">
        <h3>{% trans "Summary report" %}</h3>
        <div id="call_list_graph">
            <p class="alert alert-info">
                {% trans "Click on the row in the call list table to check the summary report" %}
            </p>
        </div>

        <div id="class_list_detail" class="col-md-6 col-sm-6"></div>
        <div class="col-md-6 col-sm-6">
            <a id="detail_button" href="#" class="btn btn-success pull-right hidden">Detail <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        {% include "main/_dashboard_mail_center.html" %}
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-3 col-sm-6 col-md-6" style="padding-top:20px">
        <a href="{% url 'send_message' %}" class="btn btn-success pull-left btn-lg">{% trans "Send offers" %}</a>
        <a href="{% url 'report_index' %}" class="btn btn-success pull-right btn-lg">{% trans "View reports" %}</a>
    </div>
</div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-sortable.css' %}">
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/vendor/highcharts.js' %}"></script>
    <script src="{% static 'js/vendor/moment.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-sortable.js' %}"></script>
    
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}