{% extends 'base_template.html' %}
{% load extras i18n static %}

{% block meta_title %}Home{% endblock %}

{% block content %}
    {% if thankyou_page %}
        {% trans 'Thank you for sending the message!' %}
    {% else %}
        <div class="row">
            <div class="span6 center">
                <form id="js-messageForm" action="{% url 'home' %}" method="POST">{% csrf_token %}
                    {% include '_base_form.html' with form=message_form%}

                    <ul id="file_list"></ul>
                </form>

                <form id="js-uploadFileForm" action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data" class="row-fluid">{% csrf_token %}
                    {% trans 'Drop the attachment (or click) here to upload' %}
                </form>

                <button id="js-submitMessageForm" class="btn btn-large btn-success">{% trans 'Send' %}</button>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-tokenfield.css' %}">
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/vendor/jquery.form.js' %}"></script>
    <script src="{% static 'js/vendor/dropzone.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-tokenfield.min.js' %}"></script>

    <script src="{% static 'js/message.js' %}"></script>
{% endblock %}
