{% extends 'base_template.html' %}
{% load extras i18n static %}

{% block meta_title %}Report{% endblock %}

{% block content %}
    {% if messages %}
        <label for="">Messages</label>
        <select name="" id="" style="width: auto;">
            {% for msg in messages %}
            <option value="">{{ msg.subject }} - {{ msg.created_at }}</option>
            {% endfor %}
        </select>
    {% endif %}
{% endblock %}


{% block additional_css %}
{% endblock %}

{% block js_scripts %}
{% endblock %}