{% extends 'base_template.html' %}
{% load extras i18n static %}

{% block meta_title %}Home{% endblock %}

{% block content %}
    {% if thankyou_page %}
        {% trans 'Thank you for sending the message!' %}
    {% else %}
        <div class="row">
            <div class="span6 center">
                <form id="js-messageForm" action="{% url 'home' %}" method="POST">{% csrf_token %}
                    {% include '_base_form.html' with form=message_form%}
                </form>

                <form id="uploadFileForm" action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data" class="row-fluid dropzone">{% csrf_token %}
                    {% trans 'Drop the attachment (or click) here to upload' %}
                </form>

                <p><span class="label label-success">{% trans 'Note' %}</span><span>  {% trans 'All fields are required' %}</span></p>
                <button id="js-submitMessageForm" class="btn btn-large btn-success disabled">{% trans 'Send' %}</button>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-tokenfield.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/dropzone.css' %}">
{% endblock %}

{% block js_scripts %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="{% static 'js/vendor/jquery.form.js' %}"></script>
    <script src="{% static 'js/vendor/dropzone.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-tokenfield.min.js' %}"></script>

    <script src="{% static 'js/send_message.js' %}"></script>
{% endblock %}
