{% extends 'base_template.html' %}
{% load extras i18n static %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block content %}
    {% if thankyou_page %}

        <div class="row">
    <div class="span6 offset3">
        <h2>{% trans "Sent" %}</h2>

        <p class="lead">{% trans "Ok, your message is being processed and the mail will be sent to your people in just a few minutes." %}</p>

        <a href="{% url 'send' %}" class="btn btn-large btn-success pull-left">{% trans "Send another offer" %}</a>
        <a href="{% url 'report_index' %}" class="btn btn-large btn-success pull-right">{% trans "View reports" %}</a>
    </div>
</div>

    {% else %}
        <div class="row">
            <div class="span6 center send_message_page">
                <form id="js_messageForm" action="{% url 'send' %}" method="POST">{% csrf_token %}
                    {% include '_base_form.html' with form=message_form%}
                </form>

                <button id="add_signature" class="js_addSignature btn"><i class="icon-plus"></i>  {% trans "Add signature" %}</button>
                <div id="signature_box"></div>

                <form id="uploadFileForm" action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data" class="dropzone">{% csrf_token %}
                    {% trans "Drop the attachment (or click) here to upload" %}
                </form>

                <p>
                    <span class="label label-success">{% trans "Note" %}</span>
                    <span>  {% trans "All fields are required" %}.
                    {% trans 'Message has to contain "[link]"' %}</span>
                </p>
                <button id="js_submitMessageForm" class="btn btn-large btn-success disabled">{% trans "Send" %}</button>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-tokenfield.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/dropzone.css' %}">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/vendor/summernote-bs2.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/summernote.css' %}">
{% endblock %}

{% block js_scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script src="{% static 'js/vendor/summernote.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.form.js' %}"></script>
    <script src="{% static 'js/vendor/dropzone.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-tokenfield.min.js' %}"></script>

    <script src="{% static 'js/send_message.js' %}?v=0006"></script>
{% endblock %}
