{% extends 'base_template.html' %}
{% load extras i18n staticfiles  %}


{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block content %}
    {% if thankyou_page %}
    
        <div class="row">
            <div class="center col-sm-6 col-md-6">
                <h2>{% trans "Sent" %}</h2>

                <p class="lead">{% trans "Ok, your message is being processed and the mail will be sent to your people in just a few minutes." %}</p>

                <a href="{% url 'send_message' %}" class="btn btn-success pull-left btn-lg">{% trans "Send another offer" %}</a>
                <a href="{% url 'report_index' %}" class="btn btn-success pull-right btn-lg">{% trans "View reports" %}</a>
            </div>
        </div>

    {% else %}

        <div id="browser_not_supported" class="alert alert-danger hidden">
            <span class="hidden">{{ device }}</span>
            <p>Your current browser is: <span></span></p>
            <p>Unfornunately, currently our application only supports sending message from these desktop browsers: 
                <ul>
                    <li>Internet Explorer 10+</li>
                    <li>Chrome 7+</li>
                    <li>Firefox 4+</li>
                    <li>Safari 6+</li>
                    <li>Opera 12+</li>
                </ul>
            Please upgrade your browser to the latest version.</p>
        </div>

        <div id="send_message_wrapper" class="row">
            <div class="center send_message_page col-sm-6 col-md-6">
                <form role="form" id="js_messageForm" action="{% url 'send_message' %}" method="POST">{% csrf_token %}
                    {% include '_base_form.html' with form=message_form %}
                </form>

                <button id="js_editSignature" class="btn btn-default"><i class="icon-plus"></i>  {% trans "Add signature" %}</button>

                <form id="uploadFileForm" action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data" class="dropzone">{% csrf_token %}
                    {% trans "Drop the attachment (or click) here to upload. PDF's only" %}
                </form>

                <button id="js_submitMessageForm" class="btn btn-success btn-lg">{% trans "Send" %}</button>
                <button id="js_resetForm" class="btn btn-default btn-lg">{% trans "Reset" %}</button>
            </div>
        </div>
    {% endif %}
    
{% endblock %}


{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-tokenfield.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/dropzone.css' %}">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/vendor/summernote-bs3.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/summernote.css' %}">
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/browser_check.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/3.7.1/dropzone.min.js"></script>
    <script src="{% static 'js/vendor/summernote.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-tokenfield.min.js' %}"></script>

    <script src="{% static 'js/send_message.js' %}"></script>
{% endblock %}