{% extends "base_template_plain.html" %}
{% load extras i18n staticfiles %}

{% block meta_title %}{{ message.subject }}{% endblock %}

{% block title %}{{ message.subject }}{% endblock %}

{% block content %}

{% if ocl_expired %}
    <p class="alert">
        {% trans "This link is expired. Please request another link from the sender." %}
    </p>
{% else %}
    <div id="message_viewer" class="flexpaper_viewer" style="width: 100%;"></div>
{% endif %}

{% endblock %}


{% block additional_css %}
    <style type="text/css" media="screen"> 
        html, body  { height:100%; }
        body { margin:0; padding:0; overflow:auto; }   
        #flashContent { display:none; }
    </style>
    <link rel="stylesheet" href="{% static 'css/vendor/flexpaper.css' %}">
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/vendor/flexpaper/jquery.extensions.min.js' %}"></script>
    <script src="{% static 'js/vendor/flexpaper/flexpaper.js' %}"></script>

    <script>
        {% if not ocl_expired and not is_owner_viewing %}
            CC_GLOBAL.message_data = {
                message_id: {{ message.id }},
                user_id: {{ ocl_user.id }},
                page_count: {{ file.pages_num }},
                token: '{{ token }}'
            };
        {% endif %}

        


        jQuery.get((!window.isTouchScreen)?' {% static 'html/flexpaper/UI_flexpaper_desktop.html' %}':'{% static 'html/flexpaper/UI_flexpaper_mobile.html' %}',
                    function(toolbarData) {

        $('#message_viewer').FlexPaperViewer({ 
            config : {
                IMGFiles : '{{ file.view_url }}/{page}.png',
                JSONFile : '{{ file.view_url }}/pdf.json',
                
                jsDirectory: "{% static 'js/vendor/flexpaper/' %}",
                localeDirectory: "{% static 'js/locale/flexpaper/' %}",
                key: "{% settings_value 'FLEXPAPER_KEY' %}",

                Scale : 0.6,
                ZoomTransition : 'easeOut',
                ZoomTime : 0.5,
                ZoomInterval : 0.2,
                MinZoomSize : 0.2,
                MaxZoomSize : 5,
                RenderingOrder: 'html',
                InitViewMode : 'Portrait',
                ViewModeToolsVisible: true,
                ZoomToolsVisible: true,
                NavToolsVisible: true,
                CursorToolsVisible: false,
                SearchToolsVisible: true,
                FitPageOnLoad: true,
                ProgressiveLoading: true,
                Toolbar         : toolbarData,
                WMode : 'window',
                      
                /*ZoomTransition: 'easeOut',
                ZoomTime: 0.5, 
                ZoomInterval: 0.2,
                MinZoomSize: 0.2,
                MaxZoomSize: 5,*/
            }   
        })
        });
    </script>

    <script src="{% static 'js/view_message.js' %}"></script>
{% endblock %}