{% extends "base_template.html" %}
{% load extras i18n static %}

{% block meta_title %}{{ message.subject }}{% endblock %}

{% block title %}{{ message.subject }}{% endblock %}

{% block content %}

{% if ocl_expired %}
    <p class="alert">
        {% trans "This link is expired. Please request another link from the sender." %}
    </p>
{% else %}
    <div id="message_carousel" class="carousel slide span9 center">
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for p in page_list %}
                <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <img src="{{ p }}" alt="">
                </div>
            {% endfor %}
        </div>
        
        <!-- Carousel nav -->
        {% if page_list|length > 1 %}
            <a class="carousel-control left" href="#message_carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#message_carousel" data-slide="next">&rsaquo;</a>
        {% endif %}
    </div>
{% endif %}

{% endblock %}

{% block js_scripts %}
    {% if not ocl_expired %}
    <script>
        var message_data = {
            message_id: {{ message.id }},
            user_id: {{ user.id }},
            page_count: {{ page_list|length }},
            token: '{{ token }}'
        };
    </script>
    {% endif %}

    <script src="{% static 'js/view_message.js' %}"></script>
{% endblock %}