.center {
    float: none;
    margin: 0 auto;
}
.page_title {
    text-align: center;
}
form {
    p {
        margin: 0px;
    }
    .alert-error {
        margin-bottom: 5px;
        padding: 3px;
    }
    .label_checkbox {
        padding: 6px 0;
    }
}

// registration page
.registration_page {
    input {
        width: 95%;
    }
}

// view message page
.carousel-inner img {
    margin: 0 auto;
}

.cell_email {
    cursor: pointer;
}