.center {
    float: none;
    margin: 0 auto;
}

form {
    .alert-error {
        margin-bottom: 5px;
        padding: 3px;
    }        
}

.registration_page {
    input {
        width: 95%;
    }
}