.center {
    float: none;
    margin: 0 auto;
}
.page_title {
    text-align: center;
}
form {
    p {
        margin: 0px;
    }
    .alert-error {
        margin-bottom: 5px;
        padding: 3px;
    }
    .label_checkbox {
        padding: 6px 0;
    }
}

// registration page
.registration_page {
    input {
        width: 95%;
    }
}

// file upload
#js-uploadFileForm {
    min-height: 30px;
    display: block;
    cursor: pointer;
    border: 1px dashed #ccc;
}

.dz-preview {
    .dz-success-mark, .dz-error-mark {
        display: none;
    }
}

// view course page
.carousel-inner img {
    margin: 0 auto;
}