body {
    background: #fff;
    font-family: "MS Trebuchet", Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 100px;
}
#container {
    width: 900px;
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 50px auto 10px;
    padding: 30px;
}
table {border: solid 1px #666; margin: 15px 0px;}
th {background: #c0c0c0; font-weight: bold; text-align: center;}
td, th {padding: 5px 10px;}
td {background: #f3f3f3;}
tr:hover td, ol li:hover, p:hover {background: #fdfdfd;}
table img {margin: 0px 5px;}
button {padding: 3px;}
button img {float: left; margin-right: 5px;}
ol {margin: 10px; list-style-position: inside; width: 250px;}
ol li {padding: 5px;}
 {background: #fdfdfd;}
form {margin: 10px; width: 50%;}
label {display: block; float: left; font-weight: bold; padding-top: 3px; text-align: right; width: 100px;}
input {margin: 0px 5px;}
p {padding: 10px 0px;}
#submit {float: right;}