{% extends "modal_template.html" %}
{% load i18n %}
{% load extras %}
{% block style %} style="width: 520px;"{% endblock %}
{% block title %}
    {% trans "System message" %}
{% endblock %}
{% block content %}
<div class="modalContent modalWindow">
<div class="windowMessage">
    {% trans "Are You sure You want to remove this user?" %}
    <br>
    {% trans "This operation cannot be undone." %}
    <br>
</div>
<form id="deleteUserForm" action="/management/users/{{ user_id }}/delete/" method='post'>
{% csrf_token %}
<ul class="formList">
    <li>
        <label>{% trans "Send message" %}</label>
        <div class="inputWrapperCheck shadow-gray">
            <input checked="checked" type="checkbox" name="send_email" id="id_send_email">
        </div>
        <div id="previewMessageBtn" class="remove"></div>
    </li>
</ul>
<div class="windowButtons">
    <a id='ru_yes' class="button-gray" href="#">yes</a>
    <a id='ru_no' class="button-gray" href="#">no</a>
</div>
</form>
</div>

{% endblock %}
