{% extends "modal_template.html" %}
{% load i18n %}
{% block meta_title %}{% trans "Messages - New message" %}{% endblock %}
{% block title %}{% trans "New message" %}{% endblock %}
{% block content %}
<form id="messageForm" action="{% if message_id %}/messages/reply/{{ message_id }}/{% else %}/messages/compose/{% endif %}" method="post">
{% csrf_token %}
<input type="hidden" name="recipients_ids" id="recipients_ids" />
<input type="hidden" name="course_id" id="course_id" />
{% if form.non_field_errors %}
  <div class="error">
    {%for error in form.non_field_errors %}
      {{error}}
    {% endfor %}
  </div>
{% endif %}
  <div class="messageWrapper">
    <label class="headerLabel">{{ form.subject.label }}:</label>
    <div class="inputWrapper shadow-gray">{{ form.subject }}</div>
    <div class="clear"></div>
    <p class="to">{% trans "To" %}: <span id="recipients"></span></p>
    <div class="clear"></div>
    <div class="inputWrapper shadow-gray textarea">
      {{ form.body }}
    </div>
    {% if message_id %}
    <div class="clear"></div>
    <div class="inputWrapper shadow-gray textarea wrote">
      {{ form.body }}
    </div>
    {% endif %}
    <div class="clear"></div>
    <div class="separator"></div>
	<a href="#" id="cancelMessage" class="button button-blue left">{% trans "Cancel" %}</a>
	<a href="#" id="sendMessage" class="button button-orange right">{% trans "Send" %}</a>

  </div>
</form>

{% endblock %}
