{% extends "base_template.html" %}
{% load i18n %}
{% block meta_title %}{% trans "Manage files" %}{% endblock %}
{% block title %}{% trans "Manage files" %}{% endblock %}
{% block js_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/files-manage.js"></script>
{% endblock %}
{% block contentclass %} class="active"{% endblock %}
{% block content %}
<div id="createModule">

    <div id="operationsFileWrapper">
	    <div id="searchFileWrapper">
	      <form id="search" method="get">
	        <ul class="formList fleft alignForm">
	          <li>
	            <label>{% trans "Search for" %}</label>
	            <div class="inputWrapper inputSmall shadow-gray">
	              <!--{{ form.file_name }}-->
								<input id="id_file_name" type="text" value="{% trans "- search by name -" %}"/>
	            </div>
	          </li>
	          <li>
	<!--             <label>{{ form.file_type.label }}</label> -->
	            <div class="inputWrapper inputShort shadow-gray">
	              {{ form.file_type }}
	            </div>
	          </li>
	          <li>
	<!--             <label>{{ form.language.label }}</label> -->
	            <div class="inputWrapper inputShort shadow-gray">
	              {{ form.language }}
	            </div>
	          </li>
	        </ul>
	        <ul class="formList fleft">
	          <li class="tagSearch">
	            <label>{% trans "By tags" %}</label>
	            <div class="inputWrapper inputMedium shadow-gray">
	              <input id="id_tags_ids" type="text" value="" />
	              <a id="submitTags" class="inputButton" href="#">{% trans "Add tag" %}</a>
	            </div>
	            <ul id="tagList" class="taglist"></ul>
	          </li>
	        </ul>
<!-- 	        <div class="separator"></div> -->
	      </form>
	    </div>

      <div id="fileDetails">

      </div>

      <!-- ROLLER -->
      <div class="rollerWrapper">
        <div id="rollerWrapper" class="boxBlue">
          <div class="leftMargin margin prev">
            <a href="#" class="prev browse left"></a>
          </div>
          <div id="roller">
            <div class="items" id="rollerItems"></div>
          </div>
          <div class="rightMargin margin next">
            <a href="#" class="next browse right"></a>
          </div>
          <div class="navi"></div>
        </div>
        <div id="fileResultCount">
            {% trans "File search" %}: <span id="totalFiles">0</span> {% trans "results" %}.
        </div>
        <div id="myFilesChk" class="fright">

            {{ form.inactive_files.label_tag }}
            {{ form.inactive_files }}
            {{ form.my_files.label_tag }}
            {{ form.my_files }}
        </div>
        {% if user.get_profile.is_superadmin %}
        	<div class="fleft superadmin">
                {{ form.from_my_groups.label_tag }}
                {{ form.from_my_groups }}
        	</div>
    	{% endif %}
        <div class="hr"></div>
        <a class="button-blue fright" href="{% url "content-import_file" %}">{% trans "Add file" %}</a>
				<a class="button-normal fright marginRight" id="refresh" href="javascript:void();">{% trans "Refresh" %}</a>
        <div class="hr" style="padding-top: 20px;"></div>
      </div>
      <!-- /ROLLER -->

      <div class="separator"></div>
    </div>
  </div>
{% endblock %}
