{% extends "base_template.html" %}
{% load i18n %}
{% block meta_title %}{% trans "Create module" %}{% endblock %}
{% block title %}{% trans "Create module" %}{% endblock %}
{% block js_globals %}var moduleID = {{ course.id|default:"null" }};{% endblock %}
{% block js_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/module-creator.js"></script>
{% endblock %}
{% block close_url %}content {% endblock %}
{% block modulesclass %} class="active"{% endblock %}
{% block content %}
<div id="createModule">
    <div id="operationsFileWrapper">
    <div id="searchFileWrapper">
      <form id="search" method="get">
        <ul class="formList fleft alignForm">
          <li>
            <label>{% trans "Search for" %}</label>
            <div class="inputWrapper inputSmall shadow-gray">
              <!--{{ form.file_name }}-->
							<input id="id_file_name" type="text" value="{% trans "- search by name -" %}"/>
            </div>
          </li>
          <li>
<!--             <label>{{ form.file_type.label }}</label> -->
            <div class="inputWrapper inputShort shadow-gray">
              {{ form.file_type }}
            </div>
          </li>
          <li>
<!--             <label>{{ form.language.label }}</label> -->
            <div class="inputWrapper inputShort shadow-gray">
              {{ form.language }}
            </div>
          </li>
        </ul>
        <ul class="formList fleft">
          <li class="tagSearch">
            <label>{% trans "By tags" %}</label>
            <div class="inputWrapper inputMedium shadow-gray">
              <input id="id_tags_ids" type="text" value="" />
              <a id="submitTags" class="inputButton" href="#">{% trans "Add tag" %}</a>
            </div>
            <ul id="tagList" class="taglist"></ul>
          </li>
        </ul>
       </form>
<!--         <div class="separator"></div> -->

    </div>


      <div id="fileDetails">

      </div>

            <!-- ROLLER -->
      <div class="rollerWrapper">
        <div id="rollerWrapper" class="boxBlue">
          <div class="leftMargin margin prev">
            <a href="#" class="prev browse left"></a>
          </div>
          <div id="roller">
            <div class="items" id="rollerItems"></div>
          </div>
          <div class="rightMargin margin next">
            <a href="#" class="next browse right"></a>
          </div>
          <div class="navi"></div>
        </div>
        <div id="fileResultCount">
            {% trans "File search" %}: <span id="totalFiles">0</span> {% trans "results" %}.
        </div>
        <div id="myFilesChk" class="fright">
        	{% if user.get_profile.is_superadmin %}
        		<div class="superadmin">
	                {{ form.from_my_groups.label_tag }}
	                {{ form.from_my_groups }}
	            </div>
            {% endif %}
            {{ form.my_files.label_tag }}
            {{ form.my_files }}
        </div>

      </div>
      <!-- /ROLLER -->

      <div class="separator"></div>
      <!-- SHELF 
      <div id="shelfBigWrapper" class="shelfWrapper collapsible">
        <ul class="formList fleft">
          <li class="fleft">
            <label>{% trans "Collection" %}</label>
            <div id="collectionSelector">
                <div class="inputWrapper shadow-gray">
                    <select name="shelf" id="shelfId"></select>
                </div>
                <a id="collectionEdit" class="button-normal button-big-no-width" href="#">{% trans "Edit" %}</a>
                <a id="collectionDelete" class="button-normal button-big-no-width" href="#">
                	<img alt="" src="{{ MEDIA_URL }}img/blank.gif" class="icon icoRemove"/>{% trans "Remove" %}</a>
                <a id="collectionCreate" class="button-normal button-big-no-width" href="#">{% trans "Create new" %}</a>
            </div>
            <div id="newCollection">
                <div class="inputWrapper shadow-gray">
                  <input type="text" name="shelfTitle" id="shelfTitle" value="" style="width: 175px;" />
                </div>
                <a id="collectionSave" class="button-normal button-big-no-width" href="#">{% trans "Save" %}</a>
                <a id="collectionCancel" class="button-normal button-big-no-width" href="#">{% trans "Cancel" %}</a>
            </div>
          </li>
        </ul>
        <div class="boxGray scrollableWrapper">
          <div id="shelfLeft" class="leftMargin margin prev">
            <a class="prev browse left"></a>
          </div>
          <div id="shelfWrapper">
            <div id="shelf" class="shelf">
              <ul>
              </ul>
            </div>
          </div>
          <div id="shelfRight" class="rightMargin margin next">
            <a class="next browse right"></a>
          </div>
        </div>
      </div>
       /SHELF -->
      <div class="separator"></div>
      <!-- MODULE -->
      <div class="moduleWrapper" id="moduleBigWrapper">
      	<form id="moduleDetails">
	        <ul class="formList fleft">
	          <li>
	            <label>{% trans "Content" %}</label>
	            <div class="inputWrapper shadow-gray">
	              <input type="text" name="c_title" id="c_title" value="{% trans "Enter content title" %}" style="width: 175px;" />
	            </div>
	          </li>
	        </ul>
	    </form>
        <div class="boxBlue scrollableWrapper">
          <div  id="moduleLeft" class="leftMargin margin prev">
            <a class="prev browse left"></a>
          </div>
          <div id="moduleWrapper">
            <div id="module" class="shelf">
              <ul></ul>
              <div id="sound" class="sound"></div>
            </div>
          </div>
          <div id="moduleRight" class="rightMargin margin next">
            <a class="next browse right"></a>
          </div>
        </div>
        <div class="hr"></div>
      </div>
      <!-- /MODULE -->
      <div class="separator"></div>
      <a id="doneButton" class="button-blue done" href="#">{% trans "Done" %}</a>
      <div class="spacer"></div>
    </div>
  </div>
{% endblock %}
