{% extends "base_template.html" %}
{% load i18n %}
{% load user_custom_filters %}
{% block meta_title %}{% trans "Dashboard" %}{% endblock %}
{% block title %}{% trans "Content completion" %}{% endblock %}
{% block js_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/admin-status.js"></script>
{% endblock %}
{% block statusclass %} class="active"{% endblock %}
{% block content %}


<div id="groupsListWrapper" class="boxGray">
    <form id="groupListFilter">
      <div class="inputWrapper shadow-gray" style="margin-bottom: 16px">
        <input id="groupFilter" type="text" value="{% trans "- search by name -" %}"/>
        <a class="selectButton" href="#"><img class="searchIco" src="{{ MEDIA_URL }}img/blank.gif" alt="" /></a>
      </div>
    </form>
    <span class="resultHead groupName">{% trans "Group name" %}</span>
    <span class="resultHead counter">{% trans "Recipient" %}</span>
    <ul id="groupsList" class="result shadow-gray itemsList">
	{% for group in my_groups %}
	    <li value="{{ group.id }}" class="{% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last {% endif %}" type="[{% for user in data|get_value:group|get_value:"users_data" %}{{ user.0.id }}{% if not forloop.last %},{% endif %}{% endfor %}]" my_group="{{ group.is_my_group }}">
		    <span class="groupName">{{ group.name }}</span>
		    <span class="counter">{{ data|get_value:group|get_value:'user_count' }}</span>
	    </li>
	{% endfor %}
	</ul>
	{% if user.get_profile.is_superadmin %}
		<ul id="allGroupsList" class="result shadow-gray itemsList hidden">
	    {% for group in groups %}
	        <li value="{{ group.id }}" class="{% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last {% endif %}" type="[{% for user in data|get_value:group|get_value:"users_data" %}{{ user.0.id }}{% if not forloop.last %},{% endif %}{% endfor %}]" my_group="{{ group.is_my_group }}">
	            <span class="groupName">{{ group.name }}</span>
	            <span class="counter">{{ data|get_value:group|get_value:'user_count' }}</span>
	        </li>
	    {% endfor %}
	    </ul>
	    <div class="superadmin fright">
	        <label for="showMy">{% trans "Show only my groups" %}</label><input id="showMy" type="checkbox" checked="checked"/>
	    </div>
    {% endif %}
</div>
<div id="defaultLabel"><span class="innerText">{% trans "No group selected" %}</span></div>

<div id="groupDetailsWrapper" class="hidden">
    <!--
    <h1 class="fleft">{% trans "Group status" %}</h1>
    <a href="#" id="sendMessageToGroup" class="button-normal button-big-no-width fright">
      <img src="{{ MEDIA_URL }}img/blank.gif" class="postIco icon" alt="" style="display: inline;" />{% trans "To group" %}
    </a>
    <div class="boxGray clear">
      <form id="moduleListFilter">
	      <div class="inputWrapper shadow-gray">
	        <input id="moduleFilter" type="text" value="{% trans "- search by name -" %}"/>
	        <a class="selectButton" href="#"><img class="searchIco" src="{{ MEDIA_URL }}img/blank.gif" alt="" /></a>
	      </div>
      </form>
      <span class="resultHead titleColumn">{% trans "Content title" %}</span>
      <span class="resultHead authorColumn">{% trans "Author" %}</span>
      <span class="resultHead completionColumn">{% trans "Completion" %}</span>
      <div id="completionDetails" class="shadow-gray itemsList">
      {% for group, dict in data.items %}
		  <table value="{{ group.id }}" class="result hidden">
              {% for course in dict.courses %}
                      <tr id="row_{{ group.id }}_{{ course.id }}" class="resultRow {% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last {% endif %}">
                          <td class="titleColumn">{{ course.title }}</td>
                          <td class="authorColumn">{{ course.owner.first_name }} {{ course.owner.last_name }}</td>
                          <td class="completionColumn progress">
                              <a href="{% url "assignments-module_progress" %}?group_id={{ group.id }}&course_id={{ course.id }}" class="progress{{ dict.module_ratio|get_value:course.id|default:"0" }}"></a>
                              <div class="tooltip">
                                  <table>
                                      <tr><th>{% trans "Author" %}</th><td>{{ course.owner.first_name }} {{ course.owner.last_name }}</td></tr>
                                      <tr><th>{% trans "Title" %}</th><td>{{ course.title }}</td></tr>
                                      <tr><th>{% trans "Published" %}</th><td>{{ course.published_on|date:"Y-m-d H:i" }}</td></tr>
                                  </table>
                              </div>
                          </td>
                      </tr>
              {% endfor %}
		  </table>
      {% endfor %}
      </div>
    </div>
    -->
</div>

<div class="containerEnd"></div>
<div class="hr"></div>
{% endblock %}
{% block bottom_content %}
<div class="bottomContainer">
    {% if 'my_content_stats' in widgets %}
    <div id="my_content_stats" class="myContentContainer dbMiddle widget short">
        <h1>{% trans "My files" %}</h1>
        <div class="separator"></div>
        <h3>{% trans "Latest files" %}</h3>
        <div class="boxGray">
           <span class="resultHead resultName">{% trans "Name" %}</span><span class="resultHead resultValue">{% trans "Added" %}</span>
           <div class="shadow-gray itemsList">
	           <ul class="result">
	           {% for file in my_stats.0 %}
 	               <a href="{% url "content-files_manage" %}#{{ file.id }}"  class="resultRow">
			           <li id="row_{{ file.id }}" class="{% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last {% endif %}">
				               <span class="resultName">{{ file.title }}</span>
				               <span class="resultValue">{{ file.created_on|date:"Y-m-d" }}</span>
			           </li>
			       </a>
	           {% endfor %}
	           </ul>
           </div>
        </div>
        <div class="content"><dl></dl></div>
        <div class="containerEnd"></div>
    </div>
    {% endif %}
    {% if 'my_modules_stats' in widgets %}
    <div id="my_modules_stats" class="myModulesContainer dbMiddle widget short">
        <h1>{% trans "My content" %}</h1>
        <div class="separator"></div>
        <h3>{% trans "Latest content" %}</h3>
        <div class="boxGray">
           <span class="resultHead resultName">{% trans "Title" %}</span><span class="resultHead resultValue">{% trans "Created" %}</span>
           <div class="shadow-gray itemsList">
	           <ul class="result">
	           {% for module in my_stats.1 %}
	           <a href="{% url "content-manage_modules" %}#{{ module.id }}" class="resultRow">
	               <li id="row_{{ file.id }}" class="{% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last {% endif %}">
	                   <span class="resultName">{{ module.title }}</span>
	                   <span class="resultValue">{{ module.created_on|date:"Y-m-d" }}</span>
	               </li>
	           </a>
	           {% endfor %}
	           </table>
           </div>
        </div>
        <div class="content"><dl></dl></div>
        <div class="containerEnd"></div>
    </div>
    {% endif %}
    {% if 'my_reports_stats' in widgets %}
    <div id="my_reports_stats" class="myReportsContainer dbMiddle widget short">
        <h1>{% trans "My Reports" %}</h1>
        <div class="separator"></div>
        <h3>{% trans "Latest reports" %}</h3>
        <div class="boxGray">
           <span class="resultHead resultName">{% trans "Name" %}</span><span class="resultHead resultValue">{% trans "Added" %}</span>
           <div class="shadow-gray itemsList">
	           <ul class="result">
	           {% for report in my_stats.2 %}
	           <a href="{% url "reports-reports" %}#{{ report.id }}" class="resultRow">
	               <li id="row_{{ file.id }}" class="{% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last {% endif %}">
	                   <span class="resultName">{{ report.name }}</span>
	                   <span class="resultValue">{{ report.created_on|date:"Y-m-d" }}</span>
	               </li>
	           </a>
	           {% endfor %}
	           </ul>
           </div>
        </div>
        <div class="content"><dl></dl></div>
        <div class="containerEnd"></div>
    </div>
    {% endif %}
</div>
{% endblock %}
