{% load i18n %}
{% load user_custom_filters %}
    <h1 class="fleft">{% trans "Group status" %}</h1>
    <a href="#" id="sendMessageToGroup" class="button-normal button-big-no-width fright">
      <img src="{{ MEDIA_URL }}img/blank.gif" class="postIco icon" alt="" style="display: inline;" />{% trans "To group" %}
    </a>
    <div class="boxGray clear">
      <form id="moduleListFilter">
	      <div class="inputWrapper shadow-gray">
	        <input id="moduleFilter" type="text" value="{% trans "- search by name -" %}"/>
	        <a class="selectButton" href="#"><img class="searchIco" src="{{ MEDIA_URL }}img/blank.gif" alt="" /></a>
	      </div>
      </form>
      <span class="resultHead titleColumn">{% trans "Content title" %}</span>
      <span class="resultHead authorColumn">{% trans "Author" %}</span>
      <span class="resultHead completionColumn">{% trans "Completion" %}</span>
      <div id="completionDetails" class="shadow-gray itemsList">
      {% for group, dict in data.items %}
		  <table value="{{ group.id }}" class="result">
              {% for course in dict.courses %}
                      <tr id="row_{{ group.id }}_{{ course.id }}" class="resultRow {% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last {% endif %}">
                          <td class="titleColumn">{{ course.title }}</td>
                          <td class="authorColumn">{{ course.owner.first_name }} {{ course.owner.last_name }}</td>
                          <td class="completionColumn progress">
                              <a href="{% url "assignments-module_progress" %}?group_id={{ group.id }}&course_id={{ course.id }}" class="progress{{ dict.module_ratio|get_value:course.id|default:"0" }}"></a>
                              <div class="tooltip">
                                  <table>
                                      <tr><th>{% trans "Author" %}</th><td>{{ course.owner.first_name }} {{ course.owner.last_name }}</td></tr>
                                      <tr><th>{% trans "Title" %}</th><td>{{ course.title }}</td></tr>
                                      <tr><th>{% trans "Published" %}</th><td>{{ course.published_on|date:"Y-m-d H:i" }}</td></tr>
                                  </table>
                              </div>
                          </td>
                      </tr>
              {% endfor %}
		  </table>
      {% endfor %}
      </div>
    </div>

